.converter {
	margin: 12px;
	padding: 20px;
	max-width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background: linear-gradient(90deg,
			rgba(198, 197, 212, 1) 0%,
			rgba(218, 218, 230, 1) 23%,
			rgba(4, 128, 200, 1) 99%);
	border-radius: 5px;
	height: 23vh;
}