
.App {
  text-align: center;
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
}

h1 {
  color: rgb(222, 222, 223);
}

.line {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}